<template name="profile">
    <div class="profile">
        <form action="" id="profile-form">
            <label for="name">Name</label><input id="name" type="text"/>
            <label for="website">Website</label><input id="website" type="text"/>
            <label for="withdrawal_address">Withdrawal Address</label><input id="withdrawal_address" type="text"/>
            <label for="blottery_address">Blottery Address</label><input disabled id="blottery_address" type="text"/>
            <input type="button" class="update" value="Submit"/>
        </form>
    </div>
</template>